yaml file för projektet.

option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"

  aws:elasticbeanstalk:environment:proxy:
    GzipCompression: true
    ProxyServer: nginx

  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    # Här kan du lägga till fler miljövariabler om du behöver, t.ex. API-nycklar
    OPENWEATHERMAP_API_KEY: "YOUR_API_KEY_HERE"
    AWS_REGION: "eu-north-1"
    S3_BUCKET_NAME: "your-s3-bucket-name"
    SAGEMAKER_ENDPOINT_NAME: "your-sagemaker-endpoint"

packages:
  yum:
    git: []

commands:
  01_reload_nginx:
    command: "sudo service nginx reload"
    ignoreErrors: true
